<!-- app/views/messages/_message.html.erb -->
<% if message.role == "user" %>
  <div class="d-flex flex-column align-items-end mb-2">
    <p class="text-end me-3"><em>You</em></p>
    <div class="bg-white px-3 py-2 rounded-pill">
      <%= message.content%>
    </div>
  </div>
<% elsif message.role == "assistant" %>
  <div class="d-flex justify-content-start mb-5">
    <div class="px-3 pb-0 pt-3">
      <p class="text-start"><em>Assistant</em></p>
      <%= message.content %>
    </div>
  </div>
<% end %>
