.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar .nav-link:hover {
  color: white !important;
}

.nav-link a {
  text-decoration: none;
  color: #473D3D;

    &:hover {
      color: white;
    }
}
