<div class="plans-container">
  <h1 class="plans-title">List of my plans</h1>

  <div class="plans-grid">
    <% @plans.each do |plan| %>
      <%= link_to plan_path(plan), class: "plan-card" do %>
        <div class="plan-card-overlay">
          <h5 class="plan-card-title"><%= plan.title %></h5>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
